@import url('https://fonts.googleapis.com/css?family=Poppins:300');

.sign_up_container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.valid_icon {
    color: lightgreen;
}

.error_icon {
    color: red;
}

.valid_input {
    border: solid 2px lightgreen !important;
}

.error_input {
    border: solid 2px red !important;
}

.input_container {
    position: relative;
}

.input_icon {
    position: absolute;
    display: flex;
    align-items: center;
    top: 1.2rem;
    left: 1.8rem;
    transition: 1s;
}

.sign_up_input {
    width: 27.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: #e6e6e6;
    font-family: 'Poppins', sans-serif;
    color: #666666;
    padding-left: 3rem;
    outline: none;
}

.sign_up_button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 25px;
    font-size: 1.5rem;
    font-family: Rubik, serif;
    transition: 2s;
    outline: none;
}

.sign_up_button:hover {
}