@import url('https://fonts.googleapis.com/css?family=Poppins:300');

.sign_up_container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.valid_icon {
    color: #9dc5ed;
}

.error_icon {
    color: red;
}

.valid_input {
    border: solid 2px #9dc5ed !important;
    /*transition: border-color .25s ease;*/
}

.error_input {
    border: solid 2px red !important;
}

.input_container {
    position: relative;
}

.input_container-enter {
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1.5s, transform 1s;
}
.input_container-enter-active {
    transform: translateX(0);
    opacity: 1;
}
.input_container-exit {
    opacity: 1;
}
.input_container-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}


.input_icon {
    position: absolute;
    display: flex;
    align-items: center;
    top: 1.2rem;
    left: 1.8rem;
    transition: 1s;
}

.sign_up_input {
    width: 27.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: #e6e6e6;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #666666;
    padding-left: 3rem;
    outline: none;
}

.sign_up_select {
    width: 27.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    padding: 5px 35px 5px 5px;
    background-color: #e6e6e6;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    transition: 0.3s;
}

.sign_up_select-enter {
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1.5s, transform 1s;
}
.sign_up_select-enter-active {
    transform: translateX(0);
    opacity: 1;
}
.sign_up_select-exit {
    opacity: 1;
}
.sign_up_select-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.button_container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.sign_up_button {
    width: 9rem;
    height: 2.5rem;
    margin: 0.5rem 0 0 1rem;
    border-radius: 25px;
    font-size: 1.5rem;
    font-family: Rubik, serif;
    transition: 2s;
    outline: none;
    border: solid 2px #9dc5ed;
    cursor: pointer;
}

.sign_up_button-enter {
    transform: translateX(-75%);
    opacity: 0;
    transition: opacity 1.5s, transform 1s;
}

.sign_up_button-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.sign_up_button-exit {
    opacity: 1;
}

.sign_up_button-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.sign_up_button:hover {
}