body {
	background-color: rgb(80, 80, 80);
}

.rectangle {
	position: relative;
	width: 1417px;
	height: 137px;
	border-radius: 10px;
	background: rgb(144, 144, 144);
	box-shadow: 10px 10px 10px;	
	margin: 18px 8px 6px 230px
}

.vertical_rectangle_left {
    position: relative;
    width: 139px;
    height: 426px;
    border-radius: 10px;
    background: rgb(144, 144, 144);
    box-shadow: 10px 10px 10px;
    left: 257px;
    top: 15px;
}

.middle_rectangle {
    position: relative;
    width: 1019px;
    height: auto;
    border-radius: 10px;
    background: rgb(144, 144, 144);
    box-shadow: 10px 10px 10px;
    top: 15px;
    left: 288px;
}

.vertical_rectangle_right {
	position: relative;
    width: 139px;
    height: 426px;
    border-radius: 10px;
    background: rgb(144, 144, 144);
    box-shadow: 10px 10px 10px;
    left: 320px;
    top: 15px;
}

.bottom_rectangle {
	position: relative;
    width: 520px;
    height: 169px;
    border-radius: 10px;
    background: rgb(140, 253, 142);
    box-shadow: 10px 10px 10px;
    left: 182px;
    bottom: 70px;
}

.row {
	display: flex;
}

.doft {
	width: 424px;
	height: 110px;
	margin: 11px 10px 10px 8px;
}

.loupe {
	position: absolute;
	top: 11px;
	right: 30px;
}

.annuler {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.reload {
	position: relative;
	left: 940px;
	width: 21px;
	bottom: 99px;
}

.arrow {
	position: relative;
    top: 14px;
    left: 32px;
    width: 72px;
}

.main {
	position: relative;
    top: 21px;
    left: 31px;
    width: 72px;
}

.oeil {
	position: relative;
	border: 4px solid red;
    top: 32px;
    left: 32px;
    width: 69px;
}

.outil {
    position: relative;
    top: 42px;
    left: 32px;
    width: 71px;
}

.bulle {
    position: relative;
    top: 52px;
    left: 33px;
	width: 69px;
}

.cluster {
	width: 100%;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
}

.book {
	position: relative;
    width: 70px;
    top: 14px;
    left: 33px;
}

.serviette {
	position: relative;
    width: 75px;
    top: 23px;
    left: 30px;
}

.Mur {
	position: relative;
    background-image: url(resources/brick.jpg);
    top: 10px;
    width: 122px;
    height: 70px;
    left: 8px;
}

.txt {
    position: relative;
    top: 7px;
    margin: 9px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.maj {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;
}

.italic {
	font-style: italic;
}

.formulaire {
	position: relative;
    left: 13px;
}

.input {
	border: 3px inset;
	width: 380px;
}

.shadow {
	text-shadow: 5px 7px 10px red;
}

.button {
	position: relative;
    width: 78px;
    bottom: 1px;
    left: 6px;
}

.Imac {
	position: relative;
    left: 874px;
    top: 415px;
}
