table {
	width : 100%;
	height : auto;
}
th{
	font-size: 1vw;
	border: 1px solid black;
	padding : 5;
}

h1 {
	font-size: 1vw;
}

.number {
	font-size:0.7vw;
	text-align: left;
}
.mass {
	font-size:0.7vw;
	text-align: right;
}
.borderless {
	border: 0;
}
.alcalin {
	background-color: lightcoral;
}
.alc-ter {
	background-color: lightgoldenrodyellow;
}
.lanth {
	background-color: plum;
}
.other {
	background-color: limegreen;
}
.halo {
	background-color: yellow;
}
.metal {
	background-color: khaki;
}
.gaz-noble {
	background-color: aqua;
}
.poor-metal {
	background-color: lightgrey;
}
.metal-trans {
	background-color : lightpink;
}
.actini {
	background-color: palevioletred;
}
.beau_gosse {
	position: relative;
	align-content: center;
}

.responsive {
	overflow-x: auto;
}