@import url('https://fonts.googleapis.com/css?family=Rubik');

.navbar {
    position: fixed;
    width: 100vw;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
    grid-template-areas: "empty1 left middle right empty2";
}

.blur {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    /*87, 91, 134*/
    background: rgba(81, 135, 236, 0.8);
    filter: blur(3px);
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.navbar_item {
    display: inline-block;
    margin: 1.4rem 2rem 0.8rem 2rem;
}

.navbar_content_left {
    grid-area: left;
    justify-self: center;
}

.navbar_content_middle {
    grid-area: middle;
    justify-self: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-top: 0.8rem;
}

.navbar_content_right {
    grid-area: right;
    justify-self: end;
}

@media screen and (max-width: 541px) {
    .navbar {
        grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
        height: 4rem;
    }

    .navbar a {
        text-decoration: none;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
    }

    .navbar_item {
        width: 47px;
        margin: 1.5rem 0 0 0;
    }

    .logo {
        margin-top: 1rem;
    }
}